/* Basic reset and background */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #ffffff;
}

#root {
    width: 100%;
}